# Ignore everything
/*

# Except this file and worlds/Schedule_I
!/.gitignore
!/worlds/
/worlds/*
!/worlds/Schedule_I/
!readme.md

# Ignore common artifacts inside tracked folders
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.so
*.dll
